@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');

*{
    margin: 0;
    padding: 0;
    
}


/* -----------HEAD--------- */



.header{
    background-color: #fffffe;
    color: #00214d;
    position: sticky;
    top: 0;
    left: 0;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
    width: auto;
    z-index: 2;

}


#logo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    width: auto;
    display: flex;
    align-items: center;
    align-content: center;

}


.logo__img{
    width: 70px;
    height: auto;
    margin-top: 5%;
    position: relative;
	animation: muevete 5s infinite;
}


@media screen and (max-width: 480px){
    #logo{
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
    
    }
    
    
    .logo__img{
        width: 70px;
        height: auto;
        margin-top: 5%;
        position:initial;
    }


}


@keyframes muevete{
	0%{left:10px;}
	100%{left:570px;}
}

.header__nav{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px; 
}


nav ul{
    list-style: none;
}


nav ul li{
    display: inline-block;

}


@media screen and (max-width: 480px){
    nav ul li{
        display:list-item;
    
    }

}


nav ul li a:hover{
    color: red;

}



.header__nav{
    padding-right: 0;
    

} 


.a{
    text-decoration: none;
    color: #00214d;
    align-items: center;

}


.dropbtn {
    text-decoration: none;
    color: #00214d;
    background-color: #fffffe;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border: none;
    cursor: pointer;
    
}
  

.dropdown{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #00214d;
    background-color: #fffffe;
   
}


.dropdown:hover{
    color: red;

}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #f1f1f1
}


.dropdown:hover .dropdown-content {
    display: block;
}



/* ----------MAIN---------- */

.carousel__a{
    text-decoration: none;
    background-color: white;
    border-color: white;
    color: #00214d;
    font-size: 20px;
    padding: 10px 20px 10px 20px;


}


.carousel__a:hover{
    background-color: transparent;
    border-color: white;
    color: white;
    

}


.carousel--p{
    font-size: 20px;
    margin-top: 20px;

}


.eventos{
    background-color:#00ebc7;
    display: grid;
    grid-template-columns: 2fr 1fr 7fr 4fr 3fr 2fr 6fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 11fr 2fr 11fr 2fr 10fr 1fr;
    grid-template-areas: 
    
    ". . . . . . . . ."
    ". desafio desafio desafio desafio . . . ."
    ". desafio desafio desafio desafio inscripciones inscripciones inscripciones ."
    ". . . . . . . . ."
    ". info info info recorrido recorrido recorrido . ."
    ". . . galeria galeria galeria galeria . ."
    ". . info2 galeria galeria galeria galeria . ."
    ". . . galeria galeria galeria galeria . ."
    
    ;

}


@media screen and (max-width: 480px){
    .eventos{
        background-color:#00ebc7;
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 500px  700px 700px  600px  600px  800px;
        grid-template-areas: 
        
        ". desafio ."
        ". inscripciones ."
        ". info ."
        ". recorrido ."
        ". info2 ."
        ". galeria ."
        
        ;
    
    }

}


/* #eventos__verde{
    background-color: 
    #D5F5E3;
    grid-area: verde;

}


#eventos__negro{
    background-color: black;
    grid-area: negro;

}


#eventos__azul{
    background-color: blue;
    grid-area: azul;

} */


#eventos__desafio{
    background-color: #77c4d3;
    display: block;
    grid-area: desafio;
    height: 100%;
    font-family: "tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif;

}


.eventos__desafio--h1{
    font-weight: bold;
    font-size: 100px;
    vertical-align: inherit;
    color: #EFF8FF;
    margin-left: 20%;
    margin-right: 20%;

}


.eventos__desafio--p{
    width: auto;
    margin: 70% 20px 30px 20px;
    font-size: 15px;
    color: #EFF8FF;
    
}


@media screen and (max-width: 480px){
    #eventos__desafio{
        margin-top: 5px;
    
    }


    .eventos__desafio--h1{
        font-size: 260%;
        margin-top: 50px;
        margin-left: 20px;
    
    }
    
    
    .eventos__desafio--p{
        margin: 50% 20px 30px 20px;
        
    }
    
}


#eventos__inscripciones{
    background-image: url(../img/inscripciones.png);
    display: inline-block;
    grid-area: inscripciones;

}


.eventos__inscripciones--div{
    text-align: center;
    margin-top: 30%;

}


.eventos__inscripciones--h2{
    font-size: 30px;

}


.eventos__inscripciones--p{
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: crimson;
    border-radius: 20px;
    padding: 5px;
    color: #EFF8FF;
    
}


@media screen and (max-width:480px){
    #eventos__inscripciones{
        background-image: url(../img/inscripciones_movil.png);
        height: 100%;
    
    }
    
    
    .eventos__inscripciones--div{
        margin-top: 20%;
    
    }
    
    
    .eventos__inscripciones--h2{
        font-size: 30px;
        margin-bottom: 90%;
    
    }
    
    
    .eventos__inscripciones--p{
        margin-top: 10%;
        
    }

}


#eventos__informacion{
    grid-area: info;
    background-color: #77c4d3;
}


.eventos__informacion--h2{
    text-align:center;
    margin-top: 20%;

    
}


.eventos__informacion--p{
    margin: 60px;

}


@media screen and (max-width: 480px){
    .eventos__informacion--h2{
        margin-top: 15%;
    
    }
    
    
    .eventos__informacion--p{
        margin: 40px;
    
    }

}


#eventos__recorrido{
    grid-area: recorrido;
    background-color: rgba(234,46,73,0.9);

}


.eventos__recorrido--h2{
    text-align: center;
    font-size: 30px;
    margin-top: 10%;

}


.eventos__recorrido--img{
    width: 95%;
    height: 82%;
    margin-top: 5%;
    margin-left: 10px;
    margin-bottom: 10px;
}


@media screen and (max-width: 480px){
    #eventos__recorrido{
        height: 80%;
        margin-bottom: 0;
    
    }


    .eventos__recorrido--img{
        height: 75%;
    }

}


#eventos__informacion2{
    text-align: center;
    grid-area: info2;
    background-color:rgba(255,255,255,0.9);

}


.eventos__info2--h3{
    text-align:start;
    margin-top: 15%;
    margin-left: 20px;
    display: block;

}


.eventos__info2--p{
    margin-top: 15%;
    margin-left: 20px;
    margin-right: 20px;
    text-align:left;

}


@media screen and (max-width: 480px){
    #eventos__informacion2{
        margin-top: 0;
    
    }
    
}


#eventos__galeria{
    background-color: rgba(255,255,255,0.9);
    grid-area: galeria;

}


.eventos__galeria--h2{
    text-align: center;
    margin-top: 10%;

}


.eventos__galeria--img{
    width: 32%;
    height: 32%;
    margin-top: 10%;
    margin-left: 5px;
    grid-area: galeria;
}


@media screen and (max-width: 480px) {
    #eventos__galeria{
        height: 100%;
    
    }


    .eventos__galeria--img{
        width: 45%;
        height: 20%;
        margin-top: 10%;
        margin-left: 5px;
    }
    
}


#noticias{
    background-color: #ff5470;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: 

    "noticia1 noticia2 noticia3"
    "noticia4 noticia5 noticia6";


}


@media screen and (max-width: 480px){
    #noticias {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    
    }


    .noticias__p{
        font-size: 10px;
    
    }
    
}


.noticias__p{
    margin-top: 20px;
    margin-bottom: 25px;


}


.noticia__div1{
    grid-area: noticia1;
    margin: 40px 30px 50px 80px;
    padding: 20px;
    width: 80%;
    display: block;
    position: relative;

}


@media screen and (max-width: 480px){
    .noticia__div1,
    .noticia__div2,
    .noticia__div3,
    .noticia__div4,
    .noticia__div5,
    .noticia__div6{
    margin-left: 10px;
    margin-right: 10px;
    background-color:#00ebc7;
    color: #00214d;
    border-radius: 10px;

    }
}


.noticia__div2{
    grid-area: noticia2;
    margin: 40px 40px 50px 30px;
    width: 80%;
    padding: 20px;
    display: block;
    position: relative;

}


.noticia__div3{
    grid-area: noticia3;
    margin: 40px 80px 50px 10px;
    width: 80%;
    padding: 20px;
    display: block;
    position: relative;

}


.noticia__div4{
    grid-area: noticia4;
    margin: 40px;
    margin-bottom: 50px;
    padding: 20px;
    width: 80%;
    display: block;
    position: relative;

}

.noticia__div5{
    grid-area: noticia5;
    margin: 40px;
    margin-bottom: 50px;
    padding: 20px;
    width: 80%;

    display: block;
    position: relative;

}

.noticia__div6{
    grid-area: noticia6;
    margin: 40px;
    margin-bottom: 50px;
    padding: 20px;
    width: 80%;

    display: block;
    position: relative;

}


.noticias__img{
    width: 90%;
}


.noticia__div1:hover,
.noticia__div2:hover,
.noticia__div3:hover,
.noticia__div4:hover,
.noticia__div5:hover,
.noticia__div6:hover{
    background-color: #00ebc7;
    color: #00214d;
    border-radius:10px;
	transform: scale(1);
	transition: 0.3s;
}


#sobrenosotros{
    background-color: #00214d;
    color: #EFF8FF;

}


.sobrenosotros--h1{
    text-align: center;
    padding-top: 50px;

}


.sobrenosotros--info{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}


.sobrenosotros--h2{
    margin-top: 80px;
    margin-left: 50px;

}


.span--sn{
    color:#ff5470;
    font-family:fantasy;

}


.sobrenosotros--p{
    margin-top: 35px;
    margin-left: 50px;
    width: 55%;

}


.sobrenosotros--img{
    width: 200%;
    height: 200%;
    margin-left: -300px;
    margin-top: 130px;
}


/* ---FOOTER--- */
.img__footer{
    align-items: center;
}


.img__footer--inst{
    width:34px;
    height:34px;
}


.img__footer--fb{
    width:27px;
    height:27px;
}















